

@{
    ViewData["Title"] = "Show";
    Product p = ViewBag.currentproduct as Product;

   
}


<h1>Show</h1>

<h1>@ViewBag.zaman</h1>

<h2>@ViewBag.callback</h2>

<h3>@p.ID => @p.Name => @p.Price</h3>



